charset-normalizer==2.0.12
cloudpickle==2.2.1
einops==0.4.1
filelock==3.4.1
fvcore==0.1.5.post20221221
huggingface-hub==0.4.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
iopath==0.1.10
joblib==1.1.1
opencv-python==4.3.0.38
packaging==21.3
pillow==8.4.0
pip==18.1
portalocker==2.7.0
prefetch-generator==1.0.3
pywin32==305
requests==2.27.1
scikit-learn==0.24.2
submitit==1.4.5
tabulate==0.8.10
termcolor==1.1.0
threadpoolctl==3.1.0
timm==0.4.12
torch==1.7.1+cu110
torchsummary==1.5.1
torchvision==0.8.2+cu110
urllib3==1.26.16
utils==1.0.1
yacs==0.1.8
zipp==3.6.0
